<html>
<head>
    <title>Merhaba Vue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div id="app">
        <h1 v-if="gender=='female'">Hello Miss {{name}}</h1>
        <h1 v-else-if="gender=='male'">Hello Mr {{name}}</h1>
        <h1 v-else> karar veremiyorsanız sorun yok</h1>
        <p>Enter you gender : </p>
        <input  type="text" v-model="gender">
        <p>Enter your name :</p>
        <input  type="text" v-model="name">
        <pre>
            {{$data}}
        </pre>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

    new Vue({
        el:'#app',
        data : {
           gender : '',
           name : ''
        }

    })
</script>
</html>